<p>todos works!</p>
<div class="summary" *ngIf="todosSummary$ | async as todoSummary">
    <div class="kpi-content">
        <span class="label">Todo</span>
        <span class="label-number">{{todoSummary.all | number}}</span>
    </div>
    <div class="kpi-content">
        <span class="label pending-color">WIP</span>
        <span class="label-number">{{todoSummary.notCompleted}}</span>
    </div>

    <div class="kpi-content">
        <span class="label completed-color">Completed</span>
        <span class="label-number">{{todoSummary.completed}}</span>
    </div>
</div>
<div>
    <button (click)="clickUnmarkAllTodos()">Unmark all</button>
    <button (click)="clickMarkAllTodos()">Mark all</button>
</div>

<div cdkDropList (cdkDropListDropped)="dropItem($event)" class="list-todo-section">
    <div cdkDrag class="todo-container" *ngFor="let todo of (todos$ | async)"
    [ngClass]="{
        'done-item': todo.completed,
        'pending-item': !todo.completed}">
        <div>
            <input (change)="markOrUnmarkTodo(todo)" [checked]="todo.completed" type="checkbox">
        </div>
        <p>
            {{todo.title}} <button (click)="removeTodo(todo.id)">X</button>
        </p>
    </div>
</div>