<section *ngIf="(summary$ | async) as todoSummary">
    <div class="progress-section progress-stacked active">
        <div role="progressbar progress-striped" class="progress-bar progress-striped progress-bar-success active" 
        [style.width]="calculatePercentageDistro(todoSummary.completed, todoSummary.all)+'%'">
            <span>Val 1</span>
        </div>
        <div role="progressbar progress-striped" class="progress-bar progress-striped progress-bar-warning" 
        [style.width]="calculatePercentageDistro(todoSummary.notCompleted, todoSummary.all)+'%'">
            Val 2
        </div>
    </div>
</section>